06_MachineLearning/05_Comp_Vision/01_Datasets
06_MachineLearning/05_Comp_Vision/.ipynb_checkpoints
06_MachineLearning/.DS_Store
06_MachineLearning/05_Comp_Vision/.DS_Store
06_MachineLearning/05_Comp_Vision/01_Datasets/.DS_Store
06_MachineLearning/05_Comp_Vision/01_Datasets/dataset_train/.DS_Store
06_MachineLearning/.DS_Store